/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header.dark {
  color: #888;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;

  background-color: #f5f5f5;
  color: #141419;
}

.App.dark {
  background-color: #212529;
  color: #fff;
}

.footer {
  font-size: 14px;
  margin: 2rem 0;
  text-align: center;
}

button {
  color: #fff;
  background-color: #0962f6;
  padding: 5px 20px;
	border-radius: 20px;
	border-style: none;
	font-size: 20px;
	cursor: pointer;
}

button.dark {
  background-color: #ad466d;
}

.todo-item {
  display: flex;
  align-items: center;
}

.flag {
  color: #0962f6;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.delete {
  color: #636260;
  margin-right: 1rem;
  cursor: pointer;
}

.toggle-theme {
  cursor: pointer;
  color: #aaa;
  text-decoration: none;
  border: solid #aaa 1px;
  padding: 0.5rem;
}

.empty-todo-list {
  text-align: center;
  color: #aaa;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form label {
  font-size: 12px;
}

.form-control {
  display: flex;
  align-items: center;
}

a {
  color: #aaa;
  text-decoration: none;
  border: solid #aaa 1px;
  padding: 0.5rem;
}

.about-text {
  margin: 0 auto;
  width: 50%;
  font-size: 2rem;
}